body {
  background: url('https://preview.redd.it/cherry-blossom-1920x1080-v0-adfe3rrihdaa1.png?auto=webp&s=8c17e63a0ce9e64f319a53341a3bec8cd23b85ac');
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #dc143c;
  text-align: center;
  padding: 10px 0;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}


.content {
  background-color: aliceblue;
  border: solid black;
  border-radius: 30px;
}

p,h3,h2{
  background-color: rgb(255, 168, 248);;
  border: solid 3px;
  border-radius: 15px;
  width: 380px;
}

.text{ background-color:  rgb(255, 168, 248);
  border: solid 3px;
  border-radius: 15px;
  width: 380px;
}
